APP_NAME="UK Sponsor Licence Checker"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost
ADMIN_EMAILS=admin@example.com
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=sponsor_checker
DB_USERNAME=sponsor
DB_PASSWORD=secret
QUEUE_CONNECTION=database
CACHE_STORE=database
GOVUK_SPONSOR_REGISTER_URL=https://www.gov.uk/government/publications/register-of-licensed-sponsors-workers
